<div class="intro">
    <p>
    *Tis' but a demo page*
    </p>
</div>

<h2>Description</h2>

<p>*Module Description Goes Here*</p>

<div id="demo" class="example yui3-skin-sam">
	<script>
        var htmlCode = '' +
                '<Y:Panel ui:field="dialog" ui:src="div" xmlns:Y="Y" xmlns:ui="fastui">' +
                '    <ui:config name="width" type="js">400</ui:config>' +
                '    <ui:config name="centered" type="js">true</ui:config>' +
                '    <ui:config name="modal" type="js">false</ui:config>' +
                '    <ui:config name="visible" type="js">false</ui:config>' +
                '    <ui:config name="bodyContent">' +
                '        <Y:TabView ui:src="div">' +
                '            <ul>' +
                '                <li><a href="tab1">{HOME}</a></li>' +
                '                <li><a href="tab2">{OTHER}</a></li>' +
                '            </ul>' +
                '            <div>' +
                '                <div id="tab1">' +
                '                    <div>' +
                '                    {SOME_MESSAGE}' +
                '                    </div>' +
                '                    <Y:Button ui-src="true" ui:field="okButton" label="{OK}"/>' +
                '                    <Y:Button ui-src="true" ui:field="cancelButton" label="{CANCEL}"/>' +
                '                </div>' +
                '                <div id="tab2">' +
                '                    <Y:Button ui-src="true" ui:field="otherButton" label="{OTHER_BUTTON}"/>' +
                '                </div>' +
                '            </div>' +
                '        </Y:TabView>' +
                '    </ui:config>' +
                '</Y:Panel>';


		YUI({
			modules:{
				'gallery-fast-ui': {
					fullpath: '/build/gallery-fast-ui/gallery-fast-ui.js'
				}
			}
	    }).use('{{use}}', 'button', 'tabview', 'panel', function(Y){
		    var msg = {
		        HOME : "Home",
		        OK : "Ok",
		        CANCEL : "Cancel",
		        SOME_MESSAGE : "Some message",
		        OTHER : "Other",
		        OTHER_BUTTON : "Other Button"
		    };

		    var ui = Y.fastUi("#demo", htmlCode, msg);

            ui.okButton.on("click", function() {
                alert('ok button was clicked');
            });

            Y.fastUi("#demo", "<Y:Button ui:field='demoButton' label='show dialog' xmlns:Y='Y' xmlns:ui='fastui'/>")
		        .demoButton.on("click", function() {
                    ui.dialog.show();
		        });


		});
	</script>
</div>