<div class="intro">
    <p>
    *Tis' but a demo page*
    </p>
</div>

<h2>Description</h2>

<p>*Module Description Goes Here*</p>

<div id="demo" class="example yui3-skin-sam">
	<script>
        var htmlCode = '<Y:TabView ui-src="div" xmlns:Y="Y">' +
            '    <ul>' +
            '        <li><a href="tab1">{HOME}</a></li>' +
            '        <li><a href="tab2">{OTHER}</a></li>' +
            '    </ul>' +
            '    <div>' +
            '        <div id="tab1">' +
            '            <div>' +
            '            {SOME_MESSAGE}' +
            '            </div>' +
            '            <Y:Button ui-src="span" ui-field="okButton" label="{OK}"/>' +
            '            <Y:Button ui-src="span" ui-field="cancelButton" label="{CANCEL}"/>' +
            '        </div>' +
            '        <div id="tab2">' +
            '            <Y:Button ui-src="span" ui-field="otherButton" label="{OTHER_BUTTON}"/>' +
            '        </div>' +
            '    </div>' +
            '</Y:TabView>';


		YUI({
			modules:{
				'gallery-fast-ui': {
					fullpath: '/build/gallery-fast-ui/gallery-fast-ui.js'
				}
			}
	    }).use('{{use}}', 'button', 'tabview', function(Y){
		    var msg = {
		        HOME : "Home",
		        OK : "Ok",
		        CANCEL : "Cancel",
		        SOME_MESSAGE : "Some message",
		        OTHER : "Other",
		        OTHER_BUTTON : "Other Button"
		    };

		    var ui = Y.fastUi("#demo", htmlCode, msg);

            ui.okButton.on("click", function() {
                alert('ok clicked');
            });
            ui.cancelButton.on("click", function() {
                alert('cancel clicked');
            });
            ui.otherButton.on("click", function() {
                alert('other button clicked');
            });
		});
	</script>
</div>